@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;

}

body {
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}


.environment {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 200px 300px;
  filter: opacity(60%);
  pointer-events: none;
  z-index: auto;
}

@media (max-width: 640px) {
  .body {
    box-shadow: inset 0px 0px 600px 0px;
  }
}

@media (max-width: 750px) {
  .body {
    box-shadow: inset 0px 0px 400px 200px;
  }
}

.playground {

  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.hideAndsee h3 {
  cursor: s-resize;
  font: 4vmin /4vmin Alkalami, sans-serif;
  display: flex;
  box-sizing: border-box;
}

.hideAndsee :hover {
  color: #ccc;
  text-shadow: 0 0 5px #f2f7f5,
    0 0 25px #f2f7f5,
    0 0 50px #050505,
    0 0 100px #050505;
}

.home {
  position: relative;
  padding: 50% auto;

}

.home h1 {
  font: 15vmin /15vmin Alkalami, sans-serif;
  font-weight: 500;
  color: #222;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: 0.2s;
}

h1 :hover {
  color: #ccc;
  text-shadow: 0 0 5px #f2f7f5,
    0 0 25px #f2f7f5,
    0 0 50px #050505,
    0 0 100px #050505;


}

a {
  color: white;
  cursor: help;
  text-decoration: none;
}