/*photons 光子*
particles 粒子
chain 鏈子/

/* ---- reset ---- */
​
body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}
​
canvas {
  display: block;
  vertical-align: bottom;
}
​
/* ---- particles.js container ---- */
​
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

Console
Assets
Comments

1.0×
Delete
Add to Collection
Fork
Export
Share